.nav-header {
    display: flex;
    align-items: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, .25);
    background: #007185;
}

.page-wrapper {
    background: #007185;
    padding-top: 45px;
    padding-bottom: 500px;
    
}
.page-conainer{
    margin: auto;
    padding: 0 20px;
}
.page-conainer h1{
    font-weight: 400;
    font-size: 28px;
    color: white;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.issue-card-container{
    display: flex;
    margin: 24px -12px;
    flex-wrap: wrap;
    width: auto;
}
.issue-card-wrapper{
    list-style-type: none;
    padding: 12px;
    width: 33.33%;
}
.match-card{
    height: 100%;
    background-color: #fff;
    border-radius: 5px;
    border: 1px solid #ddd;
    padding: 16px 20px;
    display: flex;
}
.match-card-icon{
    margin-right: 12px;
}
.match-card-details{
    display: flex;
    flex: 1 1;
    flex-direction: column;
    min-width: 0;
}
.match-card-details.center{
    justify-content: center;
}
.match-card-title{
    font-size: 16px;
    overflow: hidden;
    flex-shrink: 0;
    max-height: 46px;
}
footer {
    width: 100%;
    height: auto;
    max-height: 10px;
    padding: 20px 0;
    position: fixed;
    bottom: 0;
  
    border-top: 2px solid #ededed;
    font-size: 12px;
  }
footer.footer-links {
    display: flex;
    justify-content: center;
    gap: 30px;
   
  }
footer.footer-links a {
    text-decoration: none;
    color: #0066c0;
  }